/* value
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.value {
    text-align: center;
  }
  .value h1 {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 2.5em;
    margin: 0 auto;
    padding: .4em;
  }

/* ------------- text align --------------- */

.center {
  text-align: center;
}
.right {
  text-align: right;
}
.justify {
  text-align: justify;
}
.img {
  align-content: center ;
}
/*-------------------- Attribute Icons -------------*/

.downlbutts {
  list-style: none;
}
.downlbutts a {
  background-position: 0 50%;
  background-repeat: no-repeat;
  padding-left: 1.5em; 
}
.downlbutts a[href$=".pdf"] {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/pdf.png");
  }
  .downlbutts a[href$=".doc"] {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/doc.png");
  }
  .downlbutts a[href$=".jpg"] {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/image.png");
  }
  .downlbutts a[href$=".mp3"] {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/audio.png");
  }
  .downlbutts a[href$=".mp4"] {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/video.png");
  }
