/* nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.topnav {
    background-color: var(--nav-bg);
    color: var(--nav-color);
    padding: .2em 0;
  }

input[type='checkbox'].inputmenu {
    display: none;
}
.menulabel {
    position: fixed;
    top:.1em;
    right: .5em;
    font-size: 1.3em;
    background-color: var(--nav-bg);
    padding: 0 .3em;
}
.logo a {
    color:black; 
    font-size: 1.2em;
    text-decoration: none;/* kemur svg tákn */
}


.topmenu a {
    text-decoration: none;
    padding: .2em 2em;
    color: var(--nav-color);
} 
.topmenu {
    position: fixed;
    top:3em;
    right: -30em;
    z-index:100;
    width: 18em;
    background-color: var(--nav-bg);
    transition:all .4s ease;
}
.topmenu a {
    display: block;
}

.topmenu a:hover {
    background-color: var(--nav-bg-hover);
}
.sm-links {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: .3em .5em;

}
.inputmenu:checked ~ .topmenu {
    right: 0;
    transition:all .4s ease;
} 
@media screen and (min-width:48em){
    .menulabel {
        display: none;
    }
    .topmenu {
        position: static;
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
        width: 100%;
        background-color: transparent;
    }
}